
///
/// Firebase UI - SCSS Variables
///

$text-color: rgba(0, 0, 0, 0.87) !default;
$error-color: #dd2c00 !default;
$label-text-color: rgba(0, 0, 0, 0.54) !default;
$gray-color: #757575 !default;
$link-color: #4285f4 !default;
$idp-label-color: #fff !default;
$countdown-color: rgba(0, 0, 0, 0.38) !default;
$container-bg-color: #fff !default;
$input-underline-color: #3f51b5 !default;
$input-border-color: rgba(0, 0, 0, 0.12) !default;
$idp-email-bg-color: #db4437 !default;
$idp-phone-bg-color: #02bd7e !default;
$idp-google-bg-color: #ffffff !default;
$idp-github-bg-color: #333333 !default;
$idp-facebook-bg-color: #3b5998 !default;
$idp-twitter-bg-color: #55acee !default;
$idp-anonymous-bg-color: #f4b400 !default;
$infobar-bg-color: #f9edbe !default;
$invalid-bg-color: #dd2c00 !default;
$invalid-border-color: #dd2c00 !default;
